:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --button-hero-text-color: #ffffff;
  --bg-hero-color: #2f303a;
  --card-set-gap: 30px;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент  #2196F3*/
/* borders  #EEEEEE*/
/*стилизация логотипа*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
}
/*утилита*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
