:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --button-hero-text-color: #ffffff;
  --bg-hero-color: #2f303a;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент  #2196F3*/
/* borders  #EEEEEE*/
/*стилизация логотипа*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
}
/*утилита*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-section {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/*хедер*/
.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
  width: 1200px;
}
.line {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link-current {
  color: var(--accent-color);
  text-decoration: none;
}

.contact {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.contact .item + .item {
  margin-left: 50px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-nav {
  display: block;
  margin-right: 93px;
}
.span-web {
  color: var(--accent-color);
}
.span-studio {
  color: var(--primary-text-color);
}
.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*герой*/
.section-hero {
  background-color: var(--bg-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-button {
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  height: 50px;
  color: var(--button-hero-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  color: var(--button-hero-text-color);
  background-color: #188ce8;
}
/*преимущества*/

.section-advantages {
  padding-top: 94px;
  padding-bottom: 0;
}
.advantages {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}
.item-advantages {
  align-items: center;
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.title-content {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.p-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

/*business*/
.business {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.business-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
/*Our team*/
.team-name {
  font-style: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.prof-item {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.card {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

/*buttons*/
.work-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 34px;
}

.button-filter {
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}
.button-filter:hover,
.button-filter:focus {
  cursor: pointer;
  color: var(--primery-white-color);
  background-color: var(--accent-background-color);
}
.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}
.buttons {
  display: flex;
  justify-content: center;
}
/*Footer*/
.section-footer {
  background-color: var(--bg-hero-color);
}
.logo-footer {
  margin-bottom: 20px;
  padding-top: 60px;
}
.list-footer {
  padding-bottom: 60px;
}

.span-studio-footer {
  color: var(--button-hero-text-color);
}
.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
.email,
.tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.item-contact {
  margin-bottom: 9px;
}
.item-contact:last-child {
  margin-bottom: 0;
}
